<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Momentum.Boplats.Ekonomi.Kassa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Momentum.Boplats.Ekonomi.Kassa.Properties.Settings>
            <setting name="TerminalTcp" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalRs232" serializeAs="String">
                <value />
            </setting>
            <setting name="BoplatsApiUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TerminalPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UsePrinterWindow" serializeAs="String">
                <value>True</value>
            </setting>
        </Momentum.Boplats.Ekonomi.Kassa.Properties.Settings>
    </userSettings>
</configuration>